html, body{
	height: 100%;
	background: linear-gradient(to right, #8e9eab, #eef2f3);
}

.container{
	margin-bottom: 5%;
	background-color: white;
	padding-top: 2%;
	padding-bottom: 2%;
}

.container p{
	text-align: center;
	line-height: 130%;
}
.volunteering{
	margin-top: 30%;
}
@media only screen and (max-width: 768px){
	.volunteering{
		margin-top: 0px;
	}
}
hr{
	width: 50%;
	height: 1%;
	border-radius: 50%;
	filter: blur(1px);
    -webkit-animation-name: example; 
    -webkit-animation-duration: infinite; 
    -webkit-animation-iteration-count: infinite;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@-webkit-keyframes example {
    0%   {background-color:#000000}
    25%  {background-color:#000000}
    50%  {background-color:#FFFFFF}
    75%  {background-color:#000000}
    100% {background-color:#000000}
}

@keyframes example {
    0%   {background-color:#000000}
    25%  {background-color:#000000}
    50%  {background-color:#FFFFFF}
    75%  {background-color:#000000}
    100% {background-color:#000000}
}

h4{
	font-family: 'Cinzel', serif;
}